<div class="panel panel-default">
  <div class="panel-heading">
    Edit artist
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <label>Are you done?</label>

  <div>
    <%= link_to "Back to artist", artist_path, class: "btn btn-primary" %>
  </div>
</div>
