<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">

    <h4>About</h4>
    <p><%= @artist.description %></p>

    <br>
    <h4>Songs</h4>

  </div>
</div>

<%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<%= link_to "Back", artists_path, class: "btn btn-default" %>
