<tr class="song" data-id="<%= song.id %>">
  <td>
    <a href="#" id="song-<%= song.id %>"><span class="glyphicon glyphicon-remove"></span></a>
  </td>
  <td>
    <label for="song-<%= song.id %>"><%= song.name %></label>
  </td>
</tr>
